Data/*

Results/
git_status.txt

ZInitialInvestigation/DataDownloads
ZInitialInvestigation/DataExtracts
ZInitialInvestigation/Notebooks/cache
ZInitialInvestigation/Cache
ZInitialInvestigation/DataExtracts
ZInitialInvestigation/Contrib
ZInitialInvestigation/Geocodedboundaries
.DS_Store
.venv/
.vscode/
Programs/cache
cache