Data/
ZInitialInvestigation/DataDownloads
ZInitialInvestigation/DataExtracts
ZInitialInvestigation/Cache
ZInitialInvestigation/DataExtracts
ZInitialInvestigation/Contrib
ZInitialInvestigation/Geocodedboundaries
.DS_Store
.venv/
.vscode/
Programs/cache
cache