body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: left;
}

.maps-header {
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 20px; /* Adds spacing between items */
  margin-bottom: 20px;
}

.resolution-select {
  display: flex;
  align-items: center;
}

.resolution-select label {
  margin-right: 10px; /* Spacing between label and dropdown */
}


.app {
  width: 100%;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.iframe-container {
  margin: 20px 0;
  width: 85vw;
  height: 85vh; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.iframe-container {
  margin: 20px 0;
  position: relative;
}

.iframe-container div {
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  color: #555;
  font-size: 16px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
