# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


public/ChangeDensityMapping/disaster4/charts/0_60_365_8_count_changes.html
public/ChangeDensityMapping/disaster4/charts/365_0_0_8_count_changes.html
public/ChangeDensityMapping/disaster4/charts/365_60_365_8_pre_imm_percent_difference.html
public/ChangeDensityMapping/disaster4/charts/365_60_365_8_count_changes.html
public/ChangeDensityMapping/disaster4/charts/365_60_365_8_pre_post_percent_difference.html
public/ChangeDensityMapping/disaster4/charts/0_60_0_8_count_changes.html 

public/ChangeDensityMapping/disaster13/charts/365_60_365_8_pre_imm_percent_difference.html
public/ChangeDensityMapping/disaster13/charts/0_60_0_8_count_changes.html
public/ChangeDensityMapping/disaster13/charts/0_60_365_8_count_changes.html
public/ChangeDensityMapping/disaster13/charts/365_0_0_8_count_changes.html
public/ChangeDensityMapping/disaster13/charts/365_60_365_8_pre_post_percent_difference.html
public/ChangeDensityMapping/disaster13/charts/365_60_365_8_count_changes.html
public/ChangeDensityMapping/disaster13/charts/180_365_8_percent_difference.html
public/ChangeDensityMapping/disaster13/charts/365_365_8_count_changes.html
public/ChangeDensityMapping/disaster13/charts/365_365_8_percent_difference.html

